






















<h1 id="header" class="dropdown"><a href="/about"><u>A</u>ndrew Clemens</a></h1>

		  <ul id="links">
              <li {% if page.section_id == 0 %}class="current"{% endif %}><a href="/projects"><u>p</u>rojects</a></li>
              <li {% if page.section_id == 1 %}class="current"{% endif %}><a href="/websites"><u>w</u>ebsites</a></li>
              <li {% if page.section_id == 2 %}class="current"{% endif %}><a href="/themes"><u>t</u>hemes</a></li>
              <li {% if page.section_id == 3 %}class="current"{% endif %}><a href="/contact"><u>c</u>ontact</a></li>
		  </ul>
