        <!--  OVERLAY STUFF  -->
        <svg id="svg-filter">
            <filter id="mask">
                <feColorMatrix
                    type="matrix"
                    values="1    0    0    0 0
                            0    1    0    0 0
                            0    0    1    0 0
                            0.33 0.33 0.33 0 0 "/>
            </filter>
        </svg>

        <div id="vhs-overlay">
<iframe id="vhs-iframe" class="masked" width="560" height="315" src="https://www.youtube.com/embed/6zoJavBcU5o?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <!--  END OVERLAY STUFF  -->
