html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/resources/images/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif; }
html {
	width: 133vh;
	background-color: black;
	margin: auto;
}

canvas {
	margin: 0;
	padding: 0;
}

#svg-filter {
	height: 0;
	position: fixed;
}

#vhs-overlay {
    position: fixed;
    display: block;
    width: 133vh;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    pointer-events: none;
    margin: auto;
}

#vhs-overlay iframe{
    width: 178vh;
    pointer-events: all;
    background: black;
    height: 100%;
    padding: 0;
    margin: auto;
    position: absolute;
}

#vhs-overlay iframe.masked {
    -webkit-filter: url("#mask");
    pointer-events: none;
}

.section {
	position: fixed;
	transform: translate(-50%, -50%);
	border: 5px solid red;
	border-radius: 40px;
	background-color: rgba(125, 125, 125, .6);
	padding: 10px;
}

#back {
    position:fixed;
    transform: translate(-50%, -50%);
    border: 5px solid red;
    border-radius: 40px;
    background-color: rgba(125, 125, 125, .6);
    padding: 10px;
    font-size: 24px;
    width: 110px;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto Mono";
    color: #0D47A1;
}
#back::after {
    content: "back";
}
#back:hover {
    color: #4A148C;
    background-color: #1B5E20;
}

.project {
	height: 150px;
	width: 150px;
	border: 3px solid black;
	display: inline-block;
	background-color: black;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.project img {
	height: 100%;
	z-index: 2;
	position: relative;
	top: 0;
	transition: top .1s linear;
	border: 2px solid #F44336;
	margin: -2px;
}
.project:hover img {
	top: -50px;
}
.project span {
	z-index: 1;
	bottom: 0;
	position: absolute;
	white-space: normal;
	width: 100%;
	text-align: center;
	margin-bottom: 4px;
	color: white;
}
