
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/loader.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src=http://mrdoob.github.io/three.js/build/three.min.js ></script>
    <script src="/resources/fonts/fontJSON.js"></script>
    <script src="https://threejs.org/examples/js/loaders/DDSLoader.js"></script>
    <script src="https://threejs.org/examples/js/loaders/MTLLoader.js"></script>
    <script src="/resources/js/THREE/OBJLoader.js"></script>
    <script src="/resources/js/THREE/SVGLoader.js"></script>
    <script src="/resources/js/THREE/SVGRenderer.js"></script>
    <script src="/resources/js/THREE/Projector.js"></script>
    <script src="http://mrdoob.github.io/three.js/examples/js/controls/TrackballControls.js"></script>
    <script src="https://threejs.org/examples/js/libs/tween.min.js"></script>
  </head>

  <body>
	  <div id="loader-wrapper">
		  <div id="loader"></div>

		  <div class="loader-section section-left"></div>
		  <div class="loader-section section-right"></div>
	  </div>
	  {% if site.static_overlay %}
	  {% include vhsoverlay.html %}
	  {% endif %}
	  	  <script src="/resources/js/transitions.js"></script>
	  <script>

var info, stats, renderer, scene, camera, controls;
var mouse = {x:0, y:0}, INTERSECTED, projector, visibleLabel;
var boundingBoxes = [];
var currentBoundingBoxList = boundingBoxes;
var movingCamera = true;
var loaded = 0;
var NUM_TO_LOAD = 5;
var this_page_index = {{page.section_id}};

init();
animate();

function init() {
	var geometry, material, mesh;


    projector = new THREE.Projector()
	renderer = new THREE.WebGLRenderer({alpha: true, antialias: true, clearColor: 0x000000});
    renderer.setClearColor(0xffffff, 0);
	renderer.setSize(window.innerHeight * 4 / 3, window.innerHeight-4);
	document.body.appendChild(renderer.domElement);
	scene = new THREE.Scene();

	camera = new THREE.PerspectiveCamera(40, 4 / 3, 1, 3000);
	camera.position.set(0, 0, 200);
	var ambientLight = new THREE.AmbientLight(0xcccccc, 0.8);
	scene.add(ambientLight);
	controls = new THREE.TrackballControls(camera, renderer.domElement);
	
	var onProgress = function (xhr) {
		if (xhr.lengthComputable) {
			var percentComplete = xhr.loaded / xhr.total * 100;
			console.log(Math.round(percentComplete, 2) + '% downloaded');
		}
	};
	var onError = function(xhr) {console.log(xhr)};

	var loader = new THREE.FontLoader();
    loader.load('/resources/fonts/living_hell.json', function(font) {
        var textGeometry = new THREE.TextGeometry('andrew clemens', {
            font: font,
            size: 18,
            height: 5,
            material: 0,
        });
        var materials = [
            new THREE.MeshPhongMaterial({color: 0xD84315, flatShading: true}),
            new THREE.MeshPhongMaterial({color: 0xffffff})
                ];
        textGeometry.computeBoundingBox();
        mesh = new THREE.Mesh(textGeometry, materials);
        var bbox = new THREE.Box3().setFromObject(mesh);
        var left = (bbox.min.x - bbox.max.x) / 2;
        var bottom = 65 - (bbox.max.y - bbox.min.y);
        mesh.position.set(left, bottom, 0);
        scene.add(mesh);
        addBoundingBox(mesh, "about", function(bbox, width, height) {
            return {
                x: bbox.max.x - width/2,
                y: bbox.min.y - height/2,
                z: bbox.min.z
            }
        });
        mesh.loading_function = function() {
            this.position.z = -2800;
            new TWEEN.Tween(this.position).to({z:0}, 2000).easing(TWEEN.Easing.Linear.None).start();
        }
	    loaded += 1;
        if (loaded == NUM_TO_LOAD) transition_open_section(this_page_index);
    });






	// triceratops
	// https://sketchfab.com/models/00099fa513df45a8a6e1f70013e0f695
	THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

	var mtlLoader = new THREE.MTLLoader();
	mtlLoader.setPath('/resources/models/triceratops/');
	mtlLoader.load('triceratops.mtl', function(materials) {
		materials.preload();
		var objLoader = new THREE.OBJLoader();
		objLoader.setMaterials(materials);
		objLoader.setPath('/resources/models/triceratops/');
		objLoader.load('triceratops.obj', function(object) {
			var bbox = new THREE.Box3().setFromObject(object);
			object.scale.set(7, 7, 7);
			object.position.set(-13, 56.8, 100);
			object.rotation.set(2.371, -.3, 13.056);
			scene.add(object);
            addBoundingBox(object, "projects", function(bbox, width, height) {
                return {
                    x: bbox.min.x + width/2,
                    y: bbox.max.y - height/2,
                    z: bbox.max.z
                }
            });
            object.loading_function = function() {
                object.rotation.z -= 2*Math.PI;
                object.position.y = 119.8;
                new TWEEN.Tween(this.position).to({y: 56.8}, 2000).easing(TWEEN.Easing.Linear.None).start();
                new TWEEN.Tween(this.rotation).to({z: 13.056}, 2000).easing(TWEEN.Easing.Linear.None).start();
            }
            loaded += 1;
            if (loaded == NUM_TO_LOAD) transition_open_section(this_page_index);
		}, onProgress, onError);
	});








	// biplane
	// https://sketchfab.com/models/358c6c91522b49589557c8dc1efc56dd
	THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

	var mtlLoader = new THREE.MTLLoader();
	mtlLoader.setPath('/resources/models/biplane/');
	mtlLoader.load('se5.mtl', function(materials) {
		materials.preload();
		var objLoader = new THREE.OBJLoader();
		objLoader.setMaterials(materials);
		objLoader.setPath('/resources/models/biplane/');
		objLoader.load('se5.obj', function(object) {
			var bbox = new THREE.Box3().setFromObject(object);
			object.scale.set(10, 10, 10);
			object.position.set(57, 0, -50);
			object.rotation.set(.7, .8, -.3);
			scene.add(object);
            addBoundingBox(object, "websites", function(bbox, width, height) {
                return {
                    x: (bbox.min.x + bbox.max.x) / 2,
                    y: bbox.max.y - height/2,
                    z: bbox.max.z
                }
            });
            loaded += 1;
            if (loaded == NUM_TO_LOAD) transition_open_section(this_page_index);
		}, onProgress, onError);
	});


	// raspberry pi
	// https://sketchfab.com/models/2d308283fc0f4d27b81f17a2793c5c4d#
	THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

	var mtlLoader = new THREE.MTLLoader();
	mtlLoader.setPath('/resources/models/pi/');
	mtlLoader.load('rpi_L.mtl', function(materials) {
		materials.preload();
		var objLoader = new THREE.OBJLoader();
		objLoader.setMaterials(materials);
		objLoader.setPath('/resources/models/pi/');
		objLoader.load('rpi_L.obj', function(object) {
			var bbox = new THREE.Box3().setFromObject(object);
			object.scale.set(1, 1, 1);
			object.position.set(-7, -31, 13);
			object.rotation.set(-0.7, -0.1, 0.8);
			scene.add(object);
            addBoundingBox(object, "themes", function(bbox, width, height) {
                return {
                    x: bbox.max.x - width/2,
                    y: bbox.max.y - height/2,
                    z: bbox.max.z
                }
            });
            object.loading_function = function() {
                this.position.set(-239, -31, -244);
                new TWEEN.Tween(this.position).to({x:-7, y:-31, z:13}, 2000).easing(TWEEN.Easing.Linear.None).start();
            }
            loaded += 1;
            if (loaded == NUM_TO_LOAD) transition_open_section(this_page_index);
		}, onProgress, onError);
	});








	// teapot
	// https://sketchfab.com/models/2d308283fc0f4d27b81f17a2793c5c4d#
	THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

	var mtlLoader = new THREE.MTLLoader();
	mtlLoader.setPath('/resources/models/teapot/');
	mtlLoader.load('Mesh.obj.mtl', function(materials) {
		materials.preload();
		var objLoader = new THREE.OBJLoader();
		objLoader.setMaterials(materials);
		objLoader.setPath('/resources/models/teapot/');
		objLoader.load('Mesh.obj', function(object) {
			var bbox = new THREE.Box3().setFromObject(object);
			object.scale.set(90, 90, 90);
			object.position.set(79, -50, 0);
			object.rotation.set(0.3, 0.3, 2.1);
			scene.add(object);
            addBoundingBox(object, "contact", function(bbox, width, height) {
                return {
                    x: bbox.min.x,
                    y: bbox.max.y - height/2,
                    z: bbox.max.z
                }
            });
            loaded += 1;
            if (loaded == NUM_TO_LOAD) transition_open_section(this_page_index);
		}, onProgress, onError);
	});









}

function customAnimations() {
    var multiplier = 3;
    if (movingCamera)
    	camera.position.set(mouse.x*multiplier, mouse.y*multiplier, 200);
    camera.updateMatrixWorld();
    getIntersections();
}

var bbox_label_lookup = {}

function addBoundingBox(object, name, label_pos) {
    var wireframeMaterial = new THREE.MeshBasicMaterial({
        color: 0xff0000,
        wireframe: true
    });
    var bbox = new THREE.Box3().setFromObject(object);
    var geometry = new THREE.BoxGeometry(bbox.max.x - bbox.min.x, bbox.max.y - bbox.min.y, bbox.max.z - bbox.min.z);
    var box = new THREE.Mesh(geometry, wireframeMaterial);
    box.position.set((bbox.max.x+bbox.min.x)/2, (bbox.max.y+bbox.min.y)/2, (bbox.max.z+bbox.min.z)/2);
    box.material.transparent = true;
    box.material.opacity = 0;
    box.name = name;
    boundingBoxes.push(box);
    scene.add(box);

    var canvas = document.createElement('canvas');
    var context = canvas.getContext('2d');
    var metrics = null;
    var textHeight = 200;
    var textWidth = 0;
    var actualFontSize = 2;
    context.font = "normal " + textHeight + "px Arial";
    metrics = context.measureText(name);
    var textWidth = metrics.width;
    canvas.width = textWidth;
    canvas.height = textHeight;
    context.font = "normal " + textHeight + "px Arial";
    context.textAlign = "center";
    context.textBaseline = "middle";
    context.fillStyle = "#ff0000";
    context.fillText(name, textWidth/2, textHeight/2);

    var texture = new THREE.Texture(canvas);
    texture.needsUpdate = true;
    var textMaterial = new THREE.MeshBasicMaterial({color: 0xff0000, side: THREE.DoubleSide, map: texture});
    textMaterial.transparent = true;
    textMaterial.opacity = 0;
    var planeGeo = new THREE.PlaneGeometry(textWidth/20, textHeight/20);
    var plane = new THREE.Mesh(planeGeo, textMaterial);
    var pos = label_pos(bbox, textWidth/20, textHeight/20);
    plane.position.set(pos.x, pos.y, pos.z);
    scene.add(plane);
    bbox_label_lookup[name] = plane;
}

function toXYCoords(pos) {
    var vector = projector.unprojectVector(pos.clone(), camera);
    vector.x = (vector.x + 1)/2 * window.innerWidth;
    vector.y = -(vector.y - 1)/2 * window.innerHeight;
    return vector;
}

function getIntersections() {
    // create a ray with origin at the mouse position
    // and direction into the scene (camera direction)
    var vector = new THREE.Vector3(mouse.x * window.innerWidth / (window.innerHeight * 4 / 3), mouse.y, 1);
    vector.unproject(camera);
    var ray = new THREE.Raycaster(camera.position, vector.sub(camera.position).normalize());

    // create an array containing all objects in the scene with which the ray intersects
    var intersects = ray.intersectObjects(currentBoundingBoxList);

    // INTERSECTED = the object in the scene currently closest to the camera
    // and intersected by the ray projected from the mouse position
    if (intersects.length > 0) {
        if (intersects[0].object != INTERSECTED) {
            if (INTERSECTED) {
                toggleBoundingBoxVisibility(INTERSECTED, false);
            };
            INTERSECTED = intersects[intersects.length-1].object;
            toggleBoundingBoxVisibility(INTERSECTED, true);
            // store material for this object for later restoration
        }
    } else { // there are no intersections
        if (INTERSECTED) {
            toggleBoundingBoxVisibility(INTERSECTED, false);
        }
        INTERSECTED = null;
    }
}

function toggleBoundingBoxVisibility(object, show) {
    object.material.transparent = !show;
    object.material.opacity = show ? 1 : 0;
    bbox_label_lookup[object.name].material.transparent = !show;
    bbox_label_lookup[object.name].material.opacity = show ? 1 : 0;
    document.body.style.cursor = show ? "pointer" : "auto";
}

function animate() {
	requestAnimationFrame(animate);
	renderer.render(scene, camera);
//	controls.update();
    TWEEN.update();
	customAnimations();
}


window.onmousemove = function(e) {
    mouse.x = (e.clientX / window.innerWidth) * 2 - 1;
    mouse.y = -(e.clientY / window.innerHeight) * 2 + 1;
}

window.onclick = function(e) {
    if (!INTERSECTED) return;
    movingCamera = false;
    currentBoundingBoxList = [];
    switch (INTERSECTED.name) {
        case 'about':
            transition_to_about(true);
            break;
        case 'websites':
            transition_to_websites(true);
            break;
        case 'projects':
            transition_to_projects(true);
            break;
        case 'themes':
            transition_to_themes(true);
            break;
        case 'contact':
            transition_to_contact(true);
            break;
    }
}

var obj_to_move;
$(document).keypress(function(e){ 
    if(!obj_to_move) return;
	 var key = e.keyCode ? e.keyCode : e.which;
	 console.log(key);
	 if (e.which == 113){
		 obj_to_move.rotation.x += .1;
	 }
	 if (e.which == 119){
		 obj_to_move.rotation.x -= .1;
	 }
	 if (e.which == 97){
		 obj_to_move.rotation.y += .1;
	 }
	 if (e.which == 115){
		 obj_to_move.rotation.y -= .1;
	 }
	 if (e.which == 122){
		 obj_to_move.rotation.z += .1;
	 }
	 if (e.which == 120){
		 obj_to_move.rotation.z -= .1;
	 }
	 if (key == 37){
		 obj_to_move.position.x += 1;
	 }
	 if (key == 39){
		 obj_to_move.position.x -= 1;
	 }
	 if (key == 38){
		 obj_to_move.position.y += 1;
	 }
	 if (key == 40){
		 obj_to_move.position.y -= 1;
	 }
	 if (key == 44){
		 obj_to_move.position.z += 1;
	 }
	 if (key == 46){
		 obj_to_move.position.z -= 1;
	 }
 });



	  </script>
  </body>
</html>
